.signupform {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 200px calc((100% - 1440px) / 2) 200px calc((100% - 1440px) / 2);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

@media (max-width: 1440px) {
   .signupform {
      padding: 80px 20px;
   }
}

.signupform .signupform__title {
   text-align: center;
   max-width: 576px;
   margin: auto;
   margin-bottom: 50px;
}

.signupform .signupform__body {
   width: 100%;
   max-width: 768px;
   border-radius: var(--radius10);
   box-shadow: var(--box-shadow-100);
   padding: 30px;
   background-color: var(--neutral-light);
}

.signupform .signupform__wrapper {
   margin-bottom: 20px;
   display: flex;
   gap: 30px;
}

@media (max-width: 768px) {
   .signupform .signupform__wrapper {
      gap: 15px;
   }
}

@media (max-width: 576px) {
   .signupform .signupform__wrapper {
      flex-flow: column;
   }
}

.signupform .signupform__label {
   font-weight: bold;
   display: flex;
   flex-flow: column;
   width: 100%;
   font: normal 400 16px/18px var(--primary-font);
   color: var(--secondary);
}

.signupform .signupform__input {
   display: block;
   font: normal 400 14px/16px var(--primary-font);
   height: 40px;
   margin: 5px 0 2px 0;
   padding: 0 20px;
   border-radius: var(--radius40);
   border: 1px solid var(--light-dark-300);
}

.signupform .signupform__input:focus {
   outline: none;
   border: 1px solid var(--light-dark-200);
}

.signupform .signupform__error {
   display: block;
   font: normal 400 12px/14px var(--primary-font);
   color: var(--primary);
}

.signupform .signupform__submit {
   width: 100% !important;
   max-width: 338px;
   justify-content: center;
}

@media (max-width: 576px) {
   .signupform .signupform__submit {
      max-width: 100%;
   }
}