.hero {
   height: 65dvh;
}

@media (max-width: 1920px) {
   .hero {
      height: 70dvh;
   }
}

@media (max-width: 576px) {
   .hero {
      height: 50dvh;
   }
}

.hero .swiper {
   height: inherit;
   width: 100%;
}

.hero .swiper-wrapper {
   height: inherit;
   max-height: inherit;
}

.hero .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   height: inherit;
   max-height: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero .hero__image {
   width: 100%;
   height: inherit;
   position: relative;
}

.hero .hero__image::before {
   position: absolute;
   content: "";
   inset: 0;
   display: block;
   background-color: rgba(0, 0, 0, 0.6);
}

.hero .hero__img {
   display: block;
   width: inherit;
   height: inherit;
   object-fit: cover;
}

.hero .hero__content {
   position: absolute;
   z-index: 1000;
   margin-right: auto;
   width: 100%;
   display: flex;
   flex-flow: column;
   padding: 0 calc((100% - 1440px) / 2) 0 calc((100% - 1440px) / 2);
   text-align: left;
}

@media (max-width: 1440px) {
   .hero .hero__content {
      padding: 0 20px;
   }
}

@media (max-width: 470px) {
   .hero .hero__content {
      top: 60px;
   }
}

.hero .hero__title {
   font: normal 500 60px/72px var(--secondary-font);
   color: var(--neutral-light);
   text-align: start;
   max-width: 768px;
   margin-bottom: 20px;
}

@media (max-width: 576px) {
   .hero .hero__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px
   }
}


.hero .hero__message {
   font: normal 400 16px/24px var(--primary-font);
   color: var(--neutral-light);
   letter-spacing: 0.5px;
   margin-bottom: 40px;
}

@media (max-width: 576px) {
   .hero .hero__message {
      margin-bottom: 20px;
   }
}

.hero .swiper-pagination {
   display: flex;
   height: 30px;
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 1440px;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 100px;
}

@media (max-width: 1440px) {
   .hero .swiper-pagination {
      padding: 0 30px;
   }
}

@media (max-width: 470px) {
   .hero .swiper-pagination {
      bottom: 30px;
   }
}

.swiper-pagination-bullet {
   width: 20px;
   height: 8px;
   border-radius: 5px;
   background-color: var(--primary);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: var(--primary);
}