.header {
   background-color: var(--neutral-light);
   height: 80px;
   position: fixed;
   display: block;
   width: 100%;
   z-index: 1000;
   transition: box-shadow var(--transition-200ms);
}

.header.toggle {
   box-shadow: var(--box-shadow-100);
}

.header .header__container {
   max-width: 1440px;
   margin: 0 auto;
   height: inherit;
   display: flex;
   align-items: center;
   position: relative;
}

@media (max-width: 1440px) {
   .header .header__container {
      padding: 0 30px;
   }
}

@media (max-width: 768px) {
   .header .header__container {
      justify-content: space-between;
   }
}

.header .header__nav {
   height: inherit;
   width: 100%;
   position: relative;
   background-color: var(--neutral-light);
}

@media (max-width: 768px) {
   .header .header__nav {
      position: fixed;
      z-index: 2000;
      top: 0;
      right: -450px;
      bottom: 0;
      height: 100%;
      transition: right var(--transition-element);
      width: 400px;
      box-shadow: var(--box-shadow-100);
      background-color: var(--neutral-dark);
   }

   .header__nav.toggle {
      right: 0;
   }
}

@media (max-width: 420px) {
   .header .header__nav {
      width: 100%;
   }
}

.header .header__overlay {
   position: fixed;
   display: block;
   z-index: 1000;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   background-color: rgb(0 0 0 / 65%);
   transition: var(--transition-200ms);
}

@media (max-width: 768px) {
   .header__overlay.toggle {
      opacity: 1;
      pointer-events: all;
   }
}

.header .header__close {
   display: none;
}

@media (max-width: 768px) {
   .header .header__close {
      display: block;
      position: absolute;
      left: 10px;
      top: 17px;
   }
}


.header .header__listing {
   display: flex;
   height: inherit;
   margin: auto;
   background-color: var(--neutral-light);
   justify-content: center;
   align-items: center;
   gap: 30px;
}

@media (max-width: 768px) {
   .header .header__listing {
      max-width: none;
      width: 100%;
      margin: inherit;
      flex-flow: column;
      justify-content: flex-start;
      padding: 20px;
      gap: 80px;
      margin-top: 60px;
   }
}

.header .header__item-button {
   display: none;
}

@media (max-width: 768px) {
   .header .header__item-button {
      display: flex;
      min-height: 40px;
   }
}

.header .header__burger {
   display: none;
}

@media (max-width: 768px) {
   .header .header__button {
      display: none;
   }

   .header .header__burger {
      display: flex;
      align-items: center;
      align-self: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      flex-direction: column;
      gap: 6px;
      height: 26px;
      justify-content: center;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 26px;
   }

   .header .header__burger span {
      background-color: red;
      border-radius: 10px;
      display: block;
      height: 2px;
      width: 100%;
   }
}