/*
* ----------------------------------
*           VARIÁVEIS
* ----------------------------------
*/
:root {
   --neutral-light: #ffffff;
   --neutral-dark: #0a0a0a;

   --primary: #ff0000;
   --secondary: #222;

   --light-dark-100: #f5f5f5;
   --light-dark-200: #808080;
   --light-dark-300: #e1e1e1;

   --radius10: 10px;
   --radius20: 20px;
   --radius40: 40px;
   --radius50: 50px;

   --box-shadow-100: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   --primary-font: "Rubik", sans-serif;
   --secondary-font: "Poppins", sans-serif;

   --transition-200ms: ease-in-out 200ms;
   --transition-300ms: ease-in-out 300ms;
   --transition-500ms: ease-in-out 500ms;
   --transition-cubic: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
   --transition-element: cubic-bezier(0.39, 0.575, 0.565, 1) 400ms;

   /* font: normal 500 32px/36px var(--primary-font); */
   /*  padding: 20px calc((100% - 1440px) / 2) 20px calc((100% - 1440px) / 2); */
}

/*
1200px
992px
768px
576px
470px
*/

/*
* ----------------------------------
*           VARIÁVEIS
* ----------------------------------
*/

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
   overflow-wrap: break-word;
   margin: 0;
}

html,
html:focus-within {
   scroll-behavior: smooth;
}

body {
   text-rendering: optimizeSpeed;
   line-height: 1.5;
   font-family: var(--primaryFont);
   letter-spacing: 0.03em;
   overflow-x: hidden;
   background-color: var(--neutral-light);
}

#root {
   min-height: 100vh;
   display: flex;
   flex-flow: column;
}

main {
   position: relative;
   height: 100%;
   display: flow-root;
   padding-top: 65px;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img,
picture,
svg {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

/* containers */
.main-container {
   width: calc(1440px - 40px);
   margin: auto;
}

/* button */
.button__layout {
   background-color: var(--primary);
   color: var(--neutral-light);
   border: none;
   height: 40px;
   border-radius: var(--radius40);
   display: flex;
   align-items: center;
   padding: 0 30px;
   width: max-content;
   min-width: fit-content;
   font: normal 500 14px/16px var(--primary-font);
   cursor: pointer;
   transition: transform var(--transition-200ms);
}

.button__layout:is(:hover, :focus) {
   transform: translateY(-2px);
}

/* titles */
.main-title {
   font: normal 700 42px/50px var(--secondary-font);
   color: var(--secondary);
}

@media (max-width: 768px) {
   .main-title {
      font-size: 32px;
      line-height: normal;
   }
}

@media (max-width: 576px) {
   .main-title {
      font-size: 28px;
   }
}